* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --input-color: rgba(114, 42, 4, 0.7); 
    --light-color: #F5C9A1;
    --background-color: #C3B3A6;
    --main-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    --main-font-family: 'Dosis', serif;
}

body {
    color: black;
    font-size: 16px;
    font-family: var(--main-font-family);
    background: var(--background-color);
}