.password-change-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.password-change-container h1, .city-change-container h1 {
    font-weight: 500;
    text-shadow: var(--main-text-shadow);
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.password-change-container .sign-button {
    width: 300px;
}