.city-change-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.city-change-container .sign-button {
    width: 300px;
}